.form {
  margin: 0 auto;
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   background-image: url(../../assets/Images/importantprojectimage.jpeg);
  //   background-position: center;
  //   background-size: contain;
  background-color: thistle;

  &__input {
    display: block;
    font-size: 30px;
    margin-bottom: 2rem;
    background-color: paleturquoise;
    border-radius: 20px;
    color: darkmagenta;
    padding: 1rem;
  }

  &__label {
    font-size: 3rem;
  }
  &__button {
    background-color: lightcoral;
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
